{% extends 'start.html' %}

{% block content %}
<h2>Ustaw nowe hasło</h2>
{% if validlink %}
    <div class="w3-panel" style="max-width:440px">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="w3-button w3-blue" style="margin-top:8px" type="submit" value="Zmień hasło">
        </form>
    </div>
{% else %}
    <div class="w3-panel w3-red" style="max-width:440px">
        <p>Link wygasł lub jest nieprawidłowy.
           <a href="{% url 'password_reset' %}">Spróbuj ponownie.</a></p>
    </div>
{% endif %}
{% endblock %}
