.middle_form{
  position:absolute;
  top:15%;
  left:38%;
  border-radius: 5px;
  background-color: lightgray;
  padding: 40px;
}

.centerButton{
  position: relative;
  left: 35%;
  border-radius: 4px;
  margin-top: 5px;
}

.nav-item{
  margin-left: 90%;
  background-color: red;
}