.middle_form{
  position:absolute;
  top:15%;
  left:38%;
  border-radius: 5px;
  background-color: lightgray;
  padding: 40px;
}

.centerButton{
  position: relative;
  left: 35%;
  border-radius: 4px;
  margin-top: 5px;
}

.nav-item{
  margin-left: 90%;
  background-color: red;
}

.download-button{
  margin-left: 10px;
  margin-bottom: 27px;
}

.like-button{
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 27px;
}

.submit-button{
  margin-top: 10px
}

.unlike-button{
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 27px;
}

.unlike-button2{
  margin-left: 20px;
}

.smooth-gray{
  background-color: #DDDDDD;
}

.audio-controller{
  margin-top: 20px;
}