{% extends 'start.html' %}
{% load static %}

{% block content %}
<h2>{{ header }} {{ collection }}</h2>
{% for song in songs %}
    <div class="w3-panel">
        <p>{{ song }}</p>
        <audio controls class="audio-controller" data-song-id="{{ song.utwor_id }}">
            <source src="{{ song.get_play_url }}" type="audio/mpeg">
        </audio>
        <div style="margin-top:10px">
            <a class="w3-button w3-purple download-button" href="{{ song.get_download_url }}">Pobierz</a>
        </div>
    </div>
{% empty %}
    <p class="w3-text-gray">Nie ma jeszcze piosenek. Dodaj pierwszą!</p>
{% endfor %}
{% endblock %}
