{% extends 'start.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <link rel="stylesheet" type="text/css" href="../static/w3.css">
{% endblock %}
{% block content %}
<body>
{#<h1 class="w3-display-topmiddle">Zaloguj się</h1>#}
<form class="middle_form" action="{% url 'login' %}" method="post">
    <h2>Zaloguj się</h2>
    <div>{{ form.as_p }}</div>
    {% csrf_token %}
    {% if error %}
        <div class="w3-text-red">{{ error }}</div>
    {% endif %}
    <input type="submit" value="Zaloguj się">
</form>
</body>
{% endblock %}