<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja Muza na luzie</title>
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/w3.css">
</head>
<body>
{% for message in messages %}
    <div class="w3-panel w3-green">{{ message }}</div>
{% endfor %}
{% block content %}
<form class="middle_form" action="{% url 'login' %}" method="post">
    <h2>Zaloguj się</h2>
    <div>{{ form.as_p }}</div>
    {% csrf_token %}
    <p class="text-center">Nie masz u nas konta? <a href="{% url 'register' %}">Zarejestruj się</a>.</p>
    <input type="submit" value="Zaloguj się">
</form>
</body>
{% endblock %}