{% extends 'start.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../../static/base.css">
    <link rel="stylesheet" type="text/css" href="../../static/w3.css">
{% endblock %}
{% block content %}
<body>
        <p class="w3-text-black">Witaj, {{ username }}</p>
            <p class="w3-text-black" style="font-size: 14px">Zapraszam Cię do świata ekscytujących doznań słuchowych,
                w którym odprężysz się przy dźwiękach swoich ulubionych utworów. :)</p>
        <a class="w3-orange w3-button" href="{% url 'music:upload' %}">Dodaj muzę</a>
        <a class="w3-purple w3-button" href="{% url 'music:download' %}">Pobierz muzę</a>
        <a class="w3-blue w3-button" href="{% url 'music:search' %}">Szukaj</a>
</div>
</body>
{% endblock %}