{% extends 'start.html' %}
{% block css %}
    <link rel="stylesheet" href="../../static/base.css">
    <link rel="stylesheet" href="../../static/w3.css">
{% endblock %}
{% block content %}
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Szukaj">
    </form>
    {% if results %}
        <h3>Wyniki:</h3>
        <div>
            {% for result in results %}
            <div class="w3-panel w3-light-gray">{{ result }}
                {% if model == 'piosenka' %}
                    <a class="w3-purple w3-button" href="{{ result.get_url }}">Pobierz</a></div>
                {% else %}
                    </div>
                {% endif %}
            {%  endfor %}
        </div>
    {% endif %}
{% endblock %}
