{% extends 'start.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
{% endblock %}
{% block content %}
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Szukaj">
    </form>
    {% if results %}
        <h3>Wyniki:</h3>
        <div>
            {% for result in results %}
            <div class="w3-panel w3-light-gray"><p>{{ result }}</p>
                {% if model == 'piosenka' %}
                    <audio controls class="audio-controller">
                        <source src="{{ result.get_play_url }}" type="audio/mpeg">
                        Twoja przeglądarka nie wspiera odtwarzacza audio.
                    </audio>
                    <a class="w3-purple w3-button download-button" href="{{ result.get_text_url }}">Tekst</a>
                    <a class="w3-green w3-button like-button" href="{{ result.get_like_url }}">Polub</a>
                {% endif %}
                {% if model == 'autor' %}
                    <a class="w3-green w3-button" href="{{ result.get_subscribe_url }}">Subskrybuj</a>
                {% endif %}
                {% if model == 'album' %}
                    <a class="w3-green w3-button" href="{{ result.get_like_url }}">Polub</a>
                {% endif %}
                {% if model == 'playlista' %}
                    <a class="w3-green w3-button" href="{{ result.get_like_url }}">Polub</a>
                {% endif %}
                </div>
            {%  endfor %}
        </div>
        {% else %}
            <div class="w3-panel w3-light-gray"><p>Brak wyników.</p>
    {% endif %}
{% endblock %}
