{% extends 'start.html' %}
{% load static %}
{% block content %}
    <h2 class="w3-container w3-grayscale-min"> {{ song }} </h2>
        <div class="w3-panel smooth-gray">
            <audio controls class="audio-controller">
                <source src="{{ song.get_play_url }}" type="audio/mpeg">
                Twoja przeglądarka nie wspiera odtwarzacza audio.
            </audio>
        </div>
        <div class="w3-panel smooth-gray">
            {% for line in text %}
                <div class="w3-panel w3-hover-teal">{{ line }}</div>
            {% endfor %}
        </div>
{% endblock %}