<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja Muza na luzie</title>
    {% block css %}
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/w3.css">
    {% endblock %}
</head>
<body>
{% for message in messages %}
    <div class="w3-panel w3-green">{{ message }}</div>
{% endfor %}
<div class="w3-container w3-white">
{% if user.is_authenticated %}
    <a class="w3-button w3-red w3-right" href="{% url 'logout' %}">
    Wyloguj się
    </a>
{% else %}
    <a class="w3-button w3-light-green w3-right" href="{% url 'login' %}">
        Zaloguj się
    </a>
    <a class="w3-button w3-light-blue w3-right" href="{% url 'register' %}">
        Zarejestruj się
    </a>
{% endif %}
{% block content %}
    <h2>Cześć,</h2>
    <p class="w3-text-black">witaj w aplikacji "Muza na luzie" - nowym serwisie muzycznym
        tworzonym z pasją, prezentującym muzykę w luźnym stylu.</p>
    {% if user.is_authenticated %}
        <a class="w3-yellow w3-button" href="{% url 'music:profile' %}">Twój profil</a>
    {% else %}
        <p>Aby rozpocząć przygodę, zaloguj się</p>
    {% endif %}
</div>
</body>
{%  endblock %}
</html>