{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Aplikacja Muza na luzie</title>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% endblock %}
</head>

<body>
{% if messages %}
{% for message in messages %}
    {% if message.tags == 'success' %}
        <div class="w3-panel w3-green">{{ message }}</div>
    {% elif message.tags == 'info' %}
        <div class="w3-panel w3-yellow">{{ message }}</div>
    {% elif message.tags == 'error' %}
        <div class="w3-panel w3-red">{{ message }}</div>
    {% endif %}
{% endfor %}
{% endif %}

{% block buttons %}
<div class="w3-container w3-white">
{% if user.is_authenticated %}
    <a class="w3-button w3-red w3-right" href="{% url 'logout' %}">
    Wyloguj się
    </a>
    <a class="w3-button w3-yellow w3-right" href="{% url 'music:profile' %}">Twój profil</a>
{% else %}
    <a class="w3-button w3-light-green w3-right" id="id_login" href="{% url 'login' %}">
        Zaloguj się
    </a>
    <a class="w3-button w3-light-blue w3-right" href="{% url 'register' %}">
        Zarejestruj się
    </a>
{% endif %}
{% endblock %}

{% block content %}
    <h2>Cześć,</h2>
    <p class="w3-text-black">witaj w aplikacji "Muza na luzie" - nowym serwisie muzycznym
        tworzonym z pasją, prezentującym muzykę w luźnym stylu.</p>
    {% if not user.is_authenticated %}
        <p>Aby rozpocząć przygodę, zaloguj się</p>
    {% endif %}
</div>
</body>
{%  endblock %}
</html>